/* スマホ表示 ブレイクポイント767px */
@media screen and (max-width : 767px){
  img {
    max-width: 100%;
  }
  header,
  #global_navi,
  #sidebar,
  #wrapper{
    width: 100%;
  }
  header h1 {
    float: none;
    text-align: center;
  }
  header h1 img {
    width: 50%;
  }
  header #header_contact {
    display: none;
  }
  #global_navi ul li {
    width: 50%;
    padding: 0.5px;
    margin: 0;
    box-sizing: border-box;
  }
  #global_navi ul li a {
    margin: 0;
    width: 100%;
  }

  #main {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }
  #main figure {
    text-align: center;
  }
  #main_visual {
    width: 100%;
    height: auto;
  }
  #point figure {
    float: none;
    margin: 0 0 11px 0;
  }
  #side_banner ul li {
    text-align: center;
    margin: 11px auto;
  }
  #side_contact address img {
    width: 14px;
    height: 20px;
  }
  #entry dl dt {
    float: none;
    width: 100%;
    box-sizing: border-box;
  }
  #entry dl dd {
    width: 100%;
    margin-left: 0;
    border-left: none;
    box-sizing: border-box;
  }
  #entry #name, #entry #email, #entry #interest {
    max-width: 100%;
  }
  #entry #detail {
    width: 100%;
    box-sizing: border-box;
  }

  #gallery ul li {
    width: 100%;
  }

  .github_link{
    width: 100%;
    margin-bottom: 18px;
  }


  #gallery .js_wrapper {
    width: 100%;
    margin: 0 30px 30px 0;
    padding: 10px 0;
    border: solid 1px #ccc;
    float: left;
    text-align: center;
    color: #b7a077;
    font-weight: bold;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  }

  #gallery .thumb img{
    max-width: 50%;
    border: 4px solid #fff;
    border-radius: 400px;
    box-shadow: 0px 0px 10px #000;
    height: 10px;
    margin: 10px;
    width: 10px;
  }

  /* statt -> TOPに戻るボタン（スマホだけ表示する） */
  .pagetop {
      display: none; /*初期設定ではボタンは非表示にする*/
      position: fixed; /*ボタンの配置場所を固定*/
      bottom: 30px;
      right: 15px;
  }
  /* マウスオーバーしてない時 */
  .pagetop a {
      display: block;
      background-color: #ccc;
      text-align: center;
      color: #222;
      font-size: 30px;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 50%;
  	filter:alpha(opacity=50);
      -moz-opacity: 0.5;
      opacity: 0.5;
  }
  .globalMenuSp{
    display: block;
  }

  nav.globalMenuSp {
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background: #fff;
      color: #000;
      text-align: center;
      transform: translateY(-100%);
      transition: all 0.6s;
      width: 100%;
  }

  nav.globalMenuSp ul {
      background: #ccc;
      margin: 0 auto;
      padding: 0;
      width: 100%;
  }

  nav.globalMenuSp ul li {
      font-size: 1.1em;
      list-style-type: none;
      padding: 0;
      width: 100%;
      border-bottom: 1px dotted #333;
  }

  /* 最後はラインを描かない */
  nav.globalMenuSp ul li:last-child {
      padding-bottom: 0;
      border-bottom: none;
  }

  nav.globalMenuSp ul li a {
      text-decoration: none;
      display: block;
      color: #000;
      padding: 1em 0;
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    /* translateY()関数では、Y方向の距離で移動を指定します。 */
      transform: translateY(0%);
  }

  .navToggle {
      display: block;
      position: absolute;;    /* bodyに対しての絶対位置指定 */
      right: 13px;
      top: 12px;
      width: 42px;
      height: 51px;
      cursor: pointer;
      z-index: 3;
      background: #666;
      text-align: center;
  }

  .navToggle span {
      display: block;
      position: absolute;    /* .navToggleに対して */
      width: 30px;
      border-bottom: solid 3px #eee;
      -webkit-transition: .35s ease-in-out;
      -moz-transition: .35s ease-in-out;
      transition: .35s ease-in-out;
      left: 6px;
  }

  .navToggle span:nth-child(1) {
      top: 9px;
  }

  .navToggle span:nth-child(2) {
      top: 18px;
  }

  .navToggle span:nth-child(3) {
      top: 27px;
  }

  .navToggle span:nth-child(4) {
      border: none;
      color: #eee;
      font-size: 9px;
      font-weight: bold;
      top: 34px;
  }

  /* 最初のspanをマイナス45度に */
  .navToggle.active span:nth-child(1) {
      top: 18px;
      left: 6px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }

  /* 2番目と3番目のspanを45度に */
  .navToggle.active span:nth-child(2),
  .navToggle.active span:nth-child(3) {
      top: 18px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
  }

 #global_navi{
   display: none;
 }
}
